@media only screen and (max-width: 770px)
{
    .products.grid_full.grid_sidebar .item-inner{width: 50% !important;}
}

@media only screen and (max-width: 600px)
{
    .card-produto .thumb
    {
        min-height: 150px;
    }
}

@media (max-width: 467px) {
    .products.grid_full .item-inner, .products.grid_full.grid_sidebar .item-inner {
        width: 100% !important;
    }
}

@media only screen and (max-width: 425px)
{
    .index .logo
    {
        width: 300px;
    }

    .card-produto .thumb
    {
        min-height: 100px;
    }

    .card-produto .nome,
    .card-produto .valor
    {
        font-size: 13px;
    }

    .card-produto .referencia
    {
        font-size: 08px;
    }

    .filtros button
    {
        display: block;
        width: 100%;
        float: unset;
        margin-top: 10px;
    }

}